.carousel-wrapper {
  /* border: 5px solid red; */
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden; /* Hide scrollbars */
  background-color: #f4f4f4;
  margin-top: -18px;
  border-radius: 20px 20px 0 0;
  padding: 16px 14px 5px 14px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.carousel-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-behavior: smooth;
  gap: 15px;
  white-space: nowrap; /* Prevent wrapping */
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: white;
  margin-top: 20px; */
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.carousel-item {
  border: 1px solid #b7d2c7;
  padding: 3px;
  flex: 0 0 auto;
  width: 95px;
  height: 95px;
  border-radius: 50%; /* Make images circular */
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure images fit the circle */
  border-radius: 50%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: none;
  color: white;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

@media (min-width: 600px) {
  .carousel-item {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 900px) {
  .carousel-item {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .arrow.left,
  .arrow.right {
    display: none;
  }
}
