nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  /* background-color: white; */
  color: white;
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
}
nav img {
  width: 43px;
  border-radius: 50%;
}
nav > p {
  margin-left: 3%;
}
.restName {
  font-weight: bold;
  font-family: inter;
  font-weight: 500;
  line-height: 24px;
  font-size: 25px;
}
.leftArrow {
  font-weight: bolder;
  font-size: 1.4rem;
  cursor: pointer;
  font-size: 27px;
}

@media screen and (max-width:600px){
  nav > p {
    margin-left: 6%;
  }
  .restName {
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
  }
}