.UpcomingHeadingTxt,
.ExclusivelyHeadingTxt,
.CategoriesHeadingTxt {
  /* border: 2px solid red; */
  padding: 20px;
  font-family: Inter;
  font-size: 28px;
}
@media screen and (max-width: 600px) {
  .UpcomingHeadingTxt,
  .ExclusivelyHeadingTxt,
  .CategoriesHeadingTxt {
    font-size: 20px;
  }
}
